extends layout 

block content

  .game-info-cnt
    h1.game-title-mobile= gameInfo.name
    .row
      .game-panel-left
        img.gameImg.mx-auto.mb-2(src= gameInfo.img, style='width: 100%;')
        .game-list(ng-app='livePrices' ng-controller='getPrices')
          .offers-header Current Offers
          .game-list-item
            .store-icon-box
              img.store-icon(src='/images/Stores/Steam.png')
            a.store-link(href='https://store.steampowered.com/app/#{gameInfo.id}/') Steam
            a.store-price(href="https://store.steampowered.com/app/#{gameInfo.id}")= steam
          .game-list-item
            .store-icon-box
              img.store-icon(src='/images/Stores/gog.png')
            a.store-link(href='https://www.gog.com/') GOG
            a.store-price(href='https://www.gog.com/') {{ gog }}
          .game-list-item
            .store-icon-box
              img.store-icon(src='/images/Stores/kinguin.png')
            a.store-link(href='#{gameInfo.kinguinlink}') Kinguin
            a.store-price(href='#{gameInfo.kinguinlink}') {{ kinguin }}
          .game-list-item
            .store-icon-box
              // include these id tags (#lower-X) when there is two lines of text
              img.store-icon#lower-icon(src='/images/Stores/G2A.png')
            a.store-link#lower-link(href='#{gameInfo.g2alink}') G2A
            a.store-price#lower-price(href='#{gameInfo.g2alink}') {{ g2a }}
          .card-footer(style='font-size: 2vh;') {{ bp }}
      .game-panel-right
        h1.game-title= gameInfo.name
        .game-dp Developer: #{gameInfo.dev}
        .game-dp Publisher: #{gameInfo.publisher}
        .game-dp Release Date: #{gameInfo.releaseDate}
        br
        h5 Description:
        .gameDescription!= gameInfo.desc

