extends layout

block content


  .game
    img.gameImg(src= gameInfo.img)
    .gameInfo
      h1.gameTitle= gameInfo.name
      br
      h3.gameDP Developer : #{gameInfo.dev}
      br
      h3.gameDP Publisher : #{gameInfo.publisher}
      br
      h3.gameDP Release Date : #{gameInfo.releaseDate}
      br
      p.gameDescription= gameInfo.desc

    .prices
      h2 Offers
      ul.storePrices
        li.storePrice
          img.storeIcon.steamIcon(src='/images/Stores/Steam.png')
          a.storeLink(href='/') Steam
          a.price(href='/') $23.23
        li.storePrice
          img.storeIcon.kinguinIcon(src='/images/Stores/Kinguin.png')
          a.storeLink(href='https://www.kinguin.net/?r=53343') Kinguin
          a.price(href='https://www.kinguin.net/?r=53343') $21.30
        li.storePrice
          img.storeIcon.g2aIcon(src='/images/Stores/G2A.png')
          a.storeLink(href='https://www.g2a.com/r/gamium') G2A
          a.price(href='https://www.g2a.com/r/gamium') $19.92
