extends layout

block content


  .container.my-5


    h1.my-2 Search Results


    each result in searchResults
      .searchResult.my-3
        - if (result.img) {
          img.thumbnail(src='#{result.img}')
        - } else {
          img.thumbnail(src='/images/GOG.jpg')
        - }
        a(href='http://hamiltondynamic.tk/game/#{result.appid.$numberInt}')= result.name

        .rI
          ul.resultInfo
            li Release:  #{result.rDate}
            li Developer: #{result.dev}
            li Publisher: #{result.publisher}
