extends layout

block content
  .row
    .col-1
    .search-container.col-10
    
      .search-title SEARCH RESULTS
      if searchResults.length>1
        each result in searchResults
          .search-result
            - if (result.img) {
              img.search-thumbnail(src='#{result.img}')
            - } else {
              img.search-thumbnail(src='/images/GOG.jpg')
            - }
          
            .search-game-title
               a(href='https://gamium.gg/game/#{result.appid}')= result.name

            .rI
              .result-info
                li Release:  #{result.rDate}
                li Developer: #{result.dev}
                li Publisher: #{result.publisher}
      else
        h1.no-results No Results Found
    .col-1

